body {
  background:none repeat scroll 0 0 #fff;
  font-size:16px;
  font-family:"Open Sans",Arial,sans-serif;
  color:#000;
}
h1,h2,h3,h4,h5,h6 {
  color:#152732;
  font-weight: normal;
  line-height: 1.3;
  margin: 0.5rem 0;  
}
h1 {font-size:2.7rem;}
h2 {font-size:2.2rem;}  
h3 {font-size:1.8rem;}  
h4 {font-size:1.4rem;}  
h5 {font-size:1.1rem;}  
h6 {font-size:0.9rem;} 
header{
    border-bottom: 4px solid rgb(255, 255, 37);
	position: fixed;
	width: 100%;
	z-index: 10;
}
nav{
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul li{
    list-style: none;
    display: block;
}